* {margin: 0; padding: 0;}

body {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

#hDisplay {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw;
    flex-grow: 1;
    
}


#scene-explorer, #object-details {width: 30vw;background: #2F3338;}
#io-explorer{width: 100vw;height: 40vh; align-self: flex-end;background: #47525a;}
#scene {flex-grow: 1; background-color: black;}



#navbar {width: 100vw;height: 3vh;align-self: flex-start; background: linear-gradient(180deg, #222931 0%, #202C3B 100%);}

#scene-gutter {
    width: 0;
    height: 100%;
    cursor:w-resize;
    border: 2px solid transparent;
}